body{
	font-family: helvetica;

}
a{
	text-decoration: none;
}
#contenedor{

	margin: 0 auto;
	width: 80%;
	height: 500px;
	border: 1px solid blue;
}

header{
	height: 150px;
	width: 100%;
	border: 1px solid blue;
}

#hola{
	width: 200px;
	height: 100px;

}
#hola h3{
	padding: 0;
	margin: 0;
}
nav{

	margin: 0 auto ;
	padding: 0px;
	margin-top: 0px;
	width: 500px;
	height: 40px;
}
nav ul{
	margin: 0;
	padding: 0;
}
nav ul li{
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li a{
	display: block;
	float: left;
	width: 122px;
	height: 40px;
	background: #0000ff;
	color: white;
	}

nav ul li a:hover{
	display: block;
	float: left;
	width: 122px;
	height: 40px;
	background: white;
	border: 1px solid red;
	color: black;
}

#lado{
	float: left;
	width: 20%;
	height: 347px;
	border: 1px solid blue;
}

#central{
	float: left;
	width: 79.5%;
	height: 347px;
	border: 1px solid blue;
	overflow : auto;
}